# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
bld/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Temporary files
tmp/
*.tmp

# Packaging
dist/
build/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/